.centered
{
    text-align: center;
}

.border-secondary {
    --bs-border-opacity: 0.5;
  }

.inlined
{
    display: inline;
}

#coffee
{
    background: linear-gradient(to right, red, blue);
    background-clip: text;
    color: transparent;
    padding-left: .5rem;
    padding-right: .5rem;
}