.centered
{
    text-align: center;
}

.border-secondary {
    --bs-border-opacity: 0.5;
  }

.inlined
{
    display: inline;
}

#coffee
{
    border-color: orange-600;
    padding-left: .5rem;
    padding-right: .5rem;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 33.3%, rgba(252,176,69,1) 66.6%, rgba(131,58,180,1) 100%);
    background-clip: text;
    color: transparent;
    background-size: 300% 100%; /*扩大背景区域*/
    animation: text 4s infinite linear;
}
@keyframes text{
    0%  { background-position: 0 0;}
    100% { background-position: -150% 0;}
}