{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <td>symbol</td>
                <td>Name</td>
                <td>Number</td>
                <td>Price</td>
                <td>total</td>
            </tr>
        </thead>
        <tbody>

        </tbody>
        <tfoot>
            <td>{{ cash_left }}</td>
            <td>{{ property }}</td>
        </tfoot>

    </table>
{% endblock %}