{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <td>Symbol</td>
                <td>Name</td>
                <td>Shares</td>
                <td>Price</td>
                <td>Total</td>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.name }}</td>
                    <td>{{ stock.shares }}</td>
                    <td>{{ stock.price | usd }}</td>
                    <td>{{ (stock.price * stock.shares) | usd }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <table class="table">
        <tr>
            <th>Cash Left</th>
            <td>{{ cash_left | usd }}</td>
        </tr>
        <tr>
            <th>Total</th>
            <td>{{ total | usd }}</td>
        </tr>
    </table>
{% endblock %}