{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="/_quote_data" method="get">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="Stock symbol" type="text">
        </div>
    <button class="btn btn-primary" type="submit" id="lookup">Look Up</button>
    </form>
    <br>
    <h1 id="quoteName"></h1>
    <h2 id="quotePrice"></h2>
    <script>
        let name = document.getElementById("quoteName");
        let price = document.getElementById("quotePrice");
        let button = document.getElementById("lookup")
        $(function() {
            $(button).on('click', function() {
                $.getJSON('/_quote_data', {
                    symbol: $('input[name="symbol"]').val(),
                }, function(data) {
                    $(name).text(data.name);
                    $(price).text(data.price);
                });
            return false;
            });
        });
    </script>
{% endblock %}