{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="/_quote_data" method="get">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="Stock symbol" type="text">
        </div>
    <button class="btn btn-primary" type="submit" id="lookup">Look Up</button>
    </form>
    <br>
    <div class="spinner-grow" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <h1 id="quoteName"></h1>
    <h2 id="quotePrice"></h2>

    <script>
        let name = document.getElementById("quoteName");
        let price = document.getElementById("quotePrice");
        let button = document.getElementById("lookup");
        let input = document.getElementById("symbol");

        // jQuery
        /*
        $(function() {
            $(button).on('click', function() {
                $.getJSON('/_quote_data', {
                    symbol: $('input[name="symbol"]').val(),
                }, function(data) {
                    $(name).text(data.name);
                    $(price).text(data.price);
                });
            return false;
            });
        });
        */

        // Fetch API & Arrow Function
        button.addEventListener("click", (ev) => {
            ev.preventDefault();
            let fetchPromice = fetch("/_quote_data?symbol=" + input.value)
            fetchPromice
                .then( responce => {
                    return responce.json();
                })
                .then( json => {
                    name.innerHTML = json.name + "(" + json.symbol + ")"
                    price.innerHTML = json.price
                });
        });

    </script>
{% endblock %}