{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="/quote-data" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="Stock symbol" type="text">
        </div>
    <button class="btn btn-primary" type="submit" id="lookup">Look Up</button>
    </form>
    <br>
    <h1 id="quoteName"></h1>
    <h2 id="quotePrice"></h2>
    <script>
        async function getText(file, location) {
            let myObject = await fetch(file);
            let myText = await myObject.text();
            document.getElementById(location).innerHTML = myText;
        };
        document.getElementById("lookup").addEventListener("click", function() {
            getText("/quote-data", "quoteName");
            getText("/quote-data", "quotePrice");
        });

    </script>
{% endblock %}